@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #000000;
    display: flex;
    position: relative;
    padding: 0;
    flex-direction: column;
    background-color: white;
    font-family: "Encode Sans Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

/* Fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url('./img/backgroungImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    /*filter: blur(50px); /* Aplica el blur solo al fondo */
    z-index: -1; /* Coloca el fondo detrás de todo el contenido */
}


.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-right: 50px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 150px;
}


.navbar li {
    display: inline-block;
    transition: transform 0.3s ease;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-family: "Encode Sans Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #007bff;
}

.navbar li:hover {
    transform: scale(1.1);
}

.grid-container {
    height: 100vh;
}

.div-principal {
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    position: fixed;

}

#contact {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
}

#contact figure {
    margin: 0;
}

#contact img {
    width: 50px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

#contact img:hover {
    transform: scale(1.1);
}

#info {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
}


#info figure {
    margin: 0;
}

#info img {
    width: 50px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

#info img:hover {
    transform: scale(1.1);
}

/*
###############################TECNOLOGIES##############################################
*/

#technologies h1{
    text-align: center;
    margin-top: 30px;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }


/*
#############################################################################
*/


#resume {
    text-align: center;
    margin-top: 30px;
}

.download-link {
    display: inline-block;
    text-decoration: none; /* Elimina el subrayado por defecto */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animación suave para el hover */
}

.download-link:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el cursor */
    opacity: 0.8; /* Hace que la imagen sea ligeramente más transparente al pasar el cursor */
}

.download-icon {
    width: 80px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease; /* Animación de transformación suave */
}

.download-icon:hover {
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    transform: scale(1.1); /* Aumenta el tamaño de la imagen cuando se pasa el cursor */
}

@media (max-width: 768px) {
    .download-icon {
        width: 60px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    }
}